/** SCSS Tools
=============================== */
.pt-05 {
  paddiing-top: 0.8em
}
.pt-1x {
  padding-top: 1.618em;
}
.pt-2x {
  padding-top: 2.618em;
}
.pt-3x {
  padding-top: 3.618em;
}
.pt-4x {
  padding-top: 4.618em;
}
.pt-5x {
  padding-top: 5.618em;
}
.pb-05 {
  paddiing-bottom: 0.8em
}
.pb-1x {
  padding-bottom: 1.618em;
}
.pb-2x {
  padding-bottom: 2.618em;
}
.pb-3x {
  padding-bottom: 3.618em;
}
.pb-4x {
  padding-bottom: 4.618em;
}
.pb-5x {
  padding-bottom: 5.618em;
}
.pl-05 {
  paddiing-left: 0.8em
}
.pl-1x {
  padding-left: 1.618em;
}
.pl-2x {
  padding-left: 2.618em;
}
.pl-3x {
  padding-left: 3.618em;
}
.pl-4x {
  padding-left: 4.618em;
}
.pl-5x {
  padding-left: 5.618em;
}
.pr-05 {
  paddiing-right: 0.8em
}
.pr-1x {
  padding-right: 1.618em;
}
.pr-2x {
  padding-right: 2.618em;
}
.pr-3x {
  padding-right: 3.618em;
}
.pr-4x {
  padding-right: 4.618em;
}
.pr-5x {
  padding-right: 5.618em;
}
.mt-05 {
  margin-top: 0.8em;
}
.mt-1x {
  margin-top: 1.618em;
}
.mt-2x {
  margin-top: 2.618em;
}
.mt-3x {
  margin-top: 3.618em;
}
.mt-4x {
  margin-top: 4.618em;
}
.mt-5x {
  margin-top: 5.618em;
}
.mb-05 {
  margin-bottom: 0.8em;
}
.mb-1x {
  margin-bottom: 1.618em;
}
.mb-2x {
  margin-bottom: 2.618em;
}
.mb-3x {
  margin-bottom: 3.618em;
}
.mb-4x {
  margin-bottom: 4.618em;
}
.mb-5x {
  margin-bottom: 5.618em;
}
.mr-05 {
  margin-right: 0.8em;
}
.mr-1x {
  margin-right: 1.618em;
}
.mr-2x {
  margin-right: 2.618em;
}
.mr-3x {
  margin-right: 3.618em;
}
.mr-4x {
  margin-right: 4.618em;
}
.mr-5x {
  margin-right: 5.618em;
}
.ml-05 {
  margin-left: 0.8em;
}
.ml-1x {
  margin-left: 1.618em;
}
.ml-2x {
  margin-left: 2.618em;
}
.ml-3x {
  margin-left: 3.618em;
}
.ml-4x {
  margin-left: 4.618em;
}
.ml-5x {
  margin-left: 5.618em;
}
.left-align {
  float: left;
  padding: 0 15px 0 0;
}
.right-align {
  float: right;
  padding: 0 0 0 15px;
}
.center-align {
  float: none;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .left-align {
    padding: 1em 0;
    margin: 0 auto;
    width: 100%;
    display: block;
    float: none;
  }
  .right-align {
    padding: 1em 0;
    margin: 0 auto;
    width: 100%;
    display: block;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}
